<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PROCCITAS.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <PROCCITAS.Config>
            <setting name="connection" serializeAs="String">
                <value>Provider=Sybase.ASEOLEDBProvider;Server Name=DESKTOP-UHP2JSC, 5000;Initial Catalog=dbCalathus;User Id=sa;Password=;charset=iso_1</value>
            </setting>
            <setting name="datetest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="intQtyPerHour" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="intQtyCrane" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Valor" serializeAs="String">
                <value />
            </setting>
        </PROCCITAS.Config>
    </applicationSettings>
</configuration>